.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #f8f9fa;
}

.search-form {
  position: relative;
  width: 500px;
}

.search-input {
  width: 100%;
  padding: 12px 40px;
  font-size: 18px;
  border: 1px solid #dcdcdc;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.search-input:focus {
  border-color: #4285f4;
  box-shadow: 0 0 8px rgba(66, 133, 244, 0.3);
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.result-list {
    width: 100%;
}

.result-list div{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 50px;
    border: 1px solid #dcdcdc;
}

.result-list div:hover {
    background-color: #f8f9fa;
}
